---
layout: page
title: Airspace
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">WWEN:<br> ENTERTIN INDIE RADIO</h1>
          <p class="animated fadeInUp">WWEN a fresh voice, on the air since February 29, 2016. We broadcast music you never hear on the normcore radio with LIVE, local DJs doing live shows. Plus, we offer a wide range of national and local news programming that cover issues underrepresented by other media. WWEN is a true community radio station.
        </p>
        <!-- Image cred: Photo by Tamim Arafat on Unsplash -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Us</h2>
            <p>WWEN plays cool indie and local music from Monday to Friday throughout Washburn County.</p>
          </div>
          <p>We are locally owned, and by charter can never be bought out by any non-local entity. The station is operated by volunteers from the Entertin community. Our staff consists of your neighbors playing music, sharing news and operating the station.</p>

          <!-- Image cred: Photo by Jason Rosewell on Unsplash -->
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>WE BELIEVE IN GREAT RADIO</h2>
      <p>Our founders believed that great radio was a collaborative effort of great community, and WWEN has been proud to serve the tri-city area of Washburn County for several years.</p>
      <p>We play a mixture of genres and show types, and function as a media projection hub for both the public access cable network and community radio.</p>
      <!-- Image cred: Photo by Marat Gilyadzinov on Unsplash -->
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Shows</h2>
        <p>Music at WWEN is an eclectic mix of contemporary indie, experimental country, electronic and instrumental magic that only a with the motto "Foisons Exeunt" could craft. Check out some examples of our shows below.</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Cawfee Tawk</h4>
          <p>2 hours goes by super fast with this talk show that treats a new potboiler topic each week.
            <strong>Thurs. 5:00PM</strong>. Host: Linda</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Where in the world?</h4>
          <p>Politics, conflict, social (in)justice, dive deep into issues that matter at global scale. <strong>Tues. 3:00PM</strong>. Host: Carmen</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>Picture Perfect Pop</h4>
          <p>Sample some local pop music from the great white north (Canada), always accompanied by an inspiration image. <strong>Mon. 6:00PM</strong>. Host: Tracey</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>It's a feature not a bug</h4>
          <p>Quirky acoustic, noise, and shoegaze mashups that leave you questioning the theme. We keep it pop-less but poppin <strong>Wed. 8:00PM</strong>. Host: Ram</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Deep Drams</h4>
          <p>Break-up songs, dreary dirges, and slowtunes to depress you, or match your current malaise. <strong>Thurs. 10:00PM</strong>. Host: Sylvia </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Fall into Friction</h4>
          <p>Abrasive, awkward, and always exciting, this show combines some rougher cut new releases with demo pieces from our local scene. <strong>Tues. 8:00PM</strong>. Host: Ng</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Slow Trip</h4>
          <p>Psychadelic and '60s rock hour, featuring live guests and chill interviews. <strong>Sat. 4:00PM</strong>. Host: RaRaRingo </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Atlantis Alt Rock</h4>
          <p>Alternative tunes from imaginary lands, including dreamy pop numbers and echoey/eerie pieces. <strong>Sun. 8:00AM</strong>. Host: Capt. Nemo</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We design delightful audio experiences.</h2>
          <p>Read more about what we do and our philosophy of radio. Stop by the station and meet our highly experienced team of volunteers and hosts who just love indie music and midwestern hospitality, or something!</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Tell us more.</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>We're a volunteer cohort that's as committed to cool alternative music as we are to keeping the station alive (almost) 24/7. Here's a couple of cool stats that average from our weekly counts. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
